<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="width: auto">
        <div class="modalImg">
          <img
            id="modalImg"
            class="modalPicture img-fluid"
            src="/img/ex4.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="modal-footer">
        <%if(user){%> <% if(user._id.toString() === admin.userId.toString()){ %>
        <form method="post" action="/gallery/<%= group.id %>?_method=DELETE">
          <input id="imageUrl" type="hidden" name="deleteImage" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } }%>
      </div>
    </div>
  </div>
</div>
