<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/imgs.css" rel="stylesheet" />
    <link href="/css/mainpage.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link href="/css/showGroupById.css" rel="stylesheet" />
    <link href="/css/login.css" rel="stylesheet" />
    <link href="/css/profile.css" rel="stylesheet" />
    <link href="/css/publicacionId.css" rel="stylesheet" />
    <link href="/css/searches.css" rel="stylesheet" />
    <link href="/css/modal.css" rel="stylesheet" />
    <link href="/css/body.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.css"
    />

    <title>Venue</title>
  </head>
  <body id="boilerBody">
    <%- include('../partials/navbar.ejs') %> <%- body %> <%-
    include('../partials/footer.ejs') %>
  </body>
  <%-include('../partials/scripts.ejs')%>
</html>
