<% layout('./layouts/boilerplate') %>
<body>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="headerColor">Crea un Grupo</h1>
        <form action="/groups" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="groupName" class="headerColor">Nombre de Grupo</label>
            <input
              type="text"
              class="form-control"
              id="groupName"
              placeholder="Enter group name"
              name="groupName"
              required
            />
          </div>

          <div class="form-group">
            <label for="groupDescription" class="headerColor"
              >Descripcion</label
            >
            <textarea
              class="form-control"
              id="groupDescription"
              rows="3"
              placeholder=""
              name="groupDescription"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="website" class="headerColor">Pagina Web</label>
            <input
              type="text"
              class="form-control"
              id="website"
              placeholder="Enter a website"
              name="website"
            />
          </div>
          <div class="form-group">
            <label for="contact" class="headerColor"
              >Informacion de contacto</label
            >
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="Entra un telefono"
              name="phone"
            />
            <input
              type="email"
              class="form-control mt-2"
              id="email"
              placeholder="Entra un email"
              name="email"
              required
            />
          </div>

          <!-- Create a div for inserting an image -->
          <div class="form-group">
            <label for="groupImage" class="headerColor"
              >Imagen del banner</label
            >

            <input
              type="file"
              class="form-control"
              name="groupImage"
              id="groupImage"
              aria-describedby="inputGroupFileAddon04"
              aria-label="Upload"
            />
          </div>

          <button type="submit" class="btn btn-primary mt-3 mx-auto">
            Crear grupo
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
