<% layout('./layouts/boilerplate') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger mt-5" role="alert">
        <h4 class="alert-heading"></h4>
        <p style="color: black">
          Hubo un error al cargar la pagina, por favor intente mas tarde.
        </p>
        <hr />
        <p style="color: black"><%= message%></p>
      </div>
    </div>
  </div>
</div>
